<img class='mug' src='/images/beer.png' alt='beer image' width='20%' />
<div class="check">
  <button>
    <a href='/beers'>Check the Beers!</a>
  </button>

  <button>
    <a href='/random-beer'>Check a Random Beer</a>
  </button>
</div> 